<div class="card">
    <div class="card-header">
        Bienvenido
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="https://getonbrd-prod.s3.amazonaws.com/uploads/users/logo/8251/logo-icon-original.png"
                class="img-responsive center-block" style="max-height:300px;padding-bottom:50px" />
        </div>
        <div class="text-center">Desarrollado por:</div>
        <div class="text-center">
            <h3>Harry Coa</h3>
        </div>
    </div>
</div>